<nav class="navbar navbar-expand-custom navbar-mainbg">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" style="margin: auto;">
            <div class="hori-selector">
                <div class="left"></div>
                <div class="right"></div>
            </div>
            <li class="nav-item active notsend__homework-nav">
                <a class="nav-link notsend__homework-nav" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i>Bajarilmagan vazifalar</a>
            </li>
            <li class="nav-item send__homework-nav">
                <a class="nav-link send__homework-nav" href="javascript:void(0);"><i class="far fa-address-book"></i>Bajarilgan vazifalar</a>
            </li>
            <li class="nav-item all__homework-nav">
                <a class="nav-link all__homework-nav" href="javascript:void(0);"><i class="far fa-clone"></i>Barcha uyga vazifalar</a>
            </li>
            <li class="nav-item grade__nav">
                <a class="nav-link grade__nav" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Baholaringiz</a>
            </li>
        </ul>
    </div>
</nav>