<div class="app-left">
    <button class="close-menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-x">
            <line x1="18" y1="6" x2="6" y2="18" />
            <line x1="6" y1="6" x2="18" y2="18" />
        </svg>
    </button>
    <div class="app-logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-bar-chart-2">
            <line x1="18" y1="20" x2="18" y2="10" />
            <line x1="12" y1="20" x2="12" y2="4" />
            <line x1="6" y1="20" x2="6" y2="14" />
        </svg>
        <span>Najot Ta'lim</span>
    </div>
    <ul class="nav-list">
        <% navlink?.map(pageLink=> { %>
            <li class="sidebar-list-item">
                <button class="sideBar_btn <%= pageLink.isActive %>" id=<%=pageLink.linkName %>>
                    <span  class="material-symbols-outlined sideBar_btn">
                        <%= pageLink.iconName %>
                    </span>
                    <%= pageLink.linkName %>
                </button>
            </li>
            <% }) %>
    </ul>
</div>