@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.table {
  width: 100%;
}

.table-header {
  display: flex;
  width: 100%;
  background: #000000;
  padding: 18px 0;
}

.table-row {
  display: flex;
  width: 100%;
  padding: 18px 0;
}
.table-row:nth-of-type(odd) {
  background: #01081F;
  color: white;
}
.table-row:nth-of-type(even) {
  background: #072b97;
  color: white;
}

.table-data, .header__item {
  flex: 1 1 20%;
  text-align: center;
}

.header__item {
  text-transform: uppercase;
}

.filter__link {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
}
.filter__link::after {
  content: "";
  position: absolute;
  right: -18px;
  color: white;
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.filter__link.desc::after {
  content: "(desc)";
}
.filter__link.asc::after {
  content: "(asc)";
}

.profile {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  border-radius: 50%;
  margin-right: 10px;
}

.t-center {
  margin: auto;
  text-align: center;
  width: 100%;
  display: flex;
  /* justify-content: center; */
}

.profile-photo {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: red;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}

.not_teacher {
  background-color: red;
  color: #000000;
  padding: 5px;
}

/* MODAL */
.form__change {
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 200;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
}

.hidden, .hidden__bg {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 50;
}